*{
    margin: 1%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
      
     display: flex;
     
}
 .container{
    min-height: 50vh;
 }




  /* first section starts here */

  .top-banner{
    position: relative;
    min-height: 50vh;
 
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
}
span{
    color:#F15B22;
    
}
h1{
    font-size: 35px;
    font-weight:900;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    
    color: white;
    
    font-weight: 700px;

}
article > a{
    margin-bottom: 40px;
}
.half-width{
    float: left;
    width: 50%;
}
.half-width img{
    width: 80%;
}

       /* first section ends here */


 

    /* second section starts here */

 .mid-banner{
    position: relative;
    min-height: 50vh;
   
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
}
     /* second section end here */
 .recipies-text h2{
     text-align: center;
 }
 .recipies{
     text-align: center;
     margin-top: 40px;
 }
  
 #text-middle{
     text-align: center;
 }
  
     
 
 /* card design start here */
 .grid{
     
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 30px;
     align-items: center;
 }
 .grid > article{
   
     border: none;
 
   
     text-align: center;
     transition: transform .3s;
  
  
     
 }
 .grid>article:hover{
     transform:translate(5px);
     box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
 }
 
 .text button{
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;
    border: none;
    color: seashell;
    padding: 10px;
    width: 50%;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
 }
    
    
 /* container-celebraty design starts here */

 .container-celebraty{
    
     margin: 90px; 
     background-image: url(new-year-new-me-main/new-year-new-me-main/images/watch.png);
    }
      
     
     

 

 .container-celebraty > div{
    
    
 
    padding: 40px;

    
 }
 .item1{
    background-image: url(new-year-new-me-main/new-year-new-me-main/images/gradient2.png);
 }

 /* black-box design starts here */

 .quote-text{
 
     color: white;
 
     padding: 40px;
     cursor: pointer;
 }
 .container-box{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 130px;
 }
 .container-box:hover{
    transform:translate(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);

 }

 .inbox-text{
     margin-top: 120px;
 }
      /* black-box design ends here */



 
  

