*{
    margin: 1%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
     padding:  ; 
     display: flex;
     
}
 




  /* first section starts here */

  .top-banner{
    position: relative;
    min-height: 100vh;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
}
span{
    color:orange;
    
}
h1{
    font-size: 35px;
    font-weight:900;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    
    color: white;
    border-radius: 20px;
    font-weight: 700px;

}
article > a{
    margin-bottom: 40px;
}
.half-width{
    float: left;
    width: 50%;
}
.half-width img{
    width: 80%;
}

       /* first section ends here */


 

    /* second section starts here */

 .mid-banner{
    position: relative;
    min-height: 100vh;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
}
     /* second section end here */
 .recipies-text h2{
     text-align: center;
 }
 .recipies{
     text-align: center;
     margin-top: 40px;
 }
  
 #text-middle{
     text-align: center;
 }
  
     
 
 /* card design start here */
 .grid{
     margin: 50px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 30px;
     align-items: center;
 }
 .grid > article{
     background: #eee5e9;
     border: none;
     box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
     border-radius: 20px;
     text-align: center;
     transition: transform .3s;
     width: 370px;
     height: 500px;
     
 }
 .grid>article:hover{
     transform:translate(5px);
     box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
 }
 .grid > article img{
     border-radius: 20px;
 }
 .text button{
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;
    border: none;
    color: seashell;
    padding: 10px;
    width: 50%;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
 }
    
    
 /* container-celebraty design starts here */

 .container-celebraty{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     margin: 90px;
     transition: transform .3s;
     
     

 }.container-celebraty > div:hover{
    transform: translate(5px);

 }

 .container-celebraty > div{
    text-align: center;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 40px;

    
 }

 /* black-box design starts here */

 .quote-text{
     text-align: center;
     color: white;
     background-color: black;
     padding: 40px;
     cursor: pointer;
 }
 .container-box{
    transition: transform .3s;
 }
 .container-box:hover{
    transform:translate(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);

 }
      /* black-box design ends here */

 
  

