/* navbar design starts here */
/* .navbar-logo{
    
    text-align: left;

}
.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0;
} */
.navbar{
    background-color: #021d1f;
    padding:1% 7%;
    text-align: center;
} 
.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

}
 .navbar-menu a{
    background-color: #40868b;
    border-radius: 10px;
    margin: 3px 0px;
    padding: 10px;
}
.navbar-menu a:hover{
    background-color: gray;

}

.navbar::after{
    content: '';
    display: table;
    clear: both;
}